@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://css.gg/play-button.css');
@import url('https://css.gg/play-pause.css');
@import url('https://css.gg/redo.css');


* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	gap: 50px;
}
#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	border: 2px solid rgba(0, 8, 255, 0.548);
	padding: 20px 40px;
	border-radius: 0 0 40px 40px;
	background-color: white;
	border-top: none;
}
img {
	width: 395px;
	top: -250px;
	z-index: -2;
	border-radius: 40px;
	margin-bottom: -100px;
	border: 2px solid green;
}
h1 {
    font-family: 'Bakbak One', cursive;
    letter-spacing: 5px;
    color: rgb(97, 118, 255);
}
p {
	font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}
#hr {
	color: rgba(210, 30, 30, 0.822);
	font-size: 30px;
	padding: 10px;
}
#min {
	color: rgba(30, 195, 210, 0.822);
	font-size: 30px;
	padding: 10px;
}
#sec {
	color: rgba(255, 166, 0, 0.777);
	font-size: 30px;
	padding: 10px;
}

#start {
	background-color: rgba(0, 255, 119, 0.548);
	border: none;
	padding: 20px 20px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
	font-size: 20px;
	color: white;
	font-weight: 900;
    height: 100%;
}
#start:hover {
	scale: 1.1;
	transition: all;
	transition-duration: 0.2s;
	cursor: pointer;
}

#stop {
	background-color: rgba(255, 0, 0, 0.548);
	border: none;
	padding: 20px 20px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
	font-size: 20px;
	color: white;
	font-weight: 900;
    height: 100%;
}
#stop:hover {
	scale: 1.1;
	transition: all;
	transition-duration: 0.2s;
	cursor: pointer;
}

#reset {
	background-color: rgba(35, 0, 97, 0.607);
	border: none;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
	color: white;
    border-radius: 40px;
}
#reset:hover {
	scale: 1.1;
	transition: all;
	transition-duration: 0.2s;
	cursor: pointer;
}
#btns {
	display: flex;
    align-items: center;
	gap: 30px;
    margin-top: 10px;
}



.gg-play-button {
    transform: scale(var(--ggs,3));
}
.gg-play-pause {
    transform: scale(var(--ggs,3));
}